{% extends 'templates/app.twig' %}

{% block title %}Your Cart | {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			{% if basket.itemCount %}
				<div class="well">
					<table class="table">
						<thead>
							<tr>
								<th>{{ 'cart.product'|trans }}</th>
								<th>{{ 'cart.price'|trans }}</th>
								<th>{{ 'cart.quantity'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for item in basket.all  %}
								<tr>
									<td>
										<a href="{{ path_for('product.get', { slug: item.slug }) }}">{{ item.title }}</a>
									</td>
									<td>{% if settings.currency.position-left %}{{ settings.currency.symbol }} {% endif %}{{ item.price | number_format(2) }} {% if not settings.currency.position%} {{ settings.currency.symbol }} {% endif %}</td>
									<td>
										<form action="{{ path_for('cart.update', { slug:item.slug }) }}" method="post" class="form-inline">
											<select name="quantity" class="form-control input-sm">
												{% for num in 1..item.stock %}
													<option value="{{ num }}"{{ (num == item.quantity) ? 'selected="selected"' : '' }}>{{ num }}</option>
												{% endfor %}
												<option value="0">{{ 'none'|trans }}</option>
											</select>
											<input type="submit" value="{{ 'update'|trans }}" class="btn btn-default btn-sm">
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				</p>
			{% else %}
				<p>{{'cart.no.item.message'|trans }} <a href="{{ path_for('home') }}">{{'cart.no.item.message.link.name'|trans }}</a>
			{% endif %}
		</div>
		<div class="col-md-4">
			{% if basket.itemCount and basket.subTotal %}
				<div class="well">
					<h4>{{ 'cart.sum.header'|trans }}</h4>
					<hr>

					{% include 'cart/partials/summary.twig' %}

					<a href="{{ path_for('order.index') }}" class="btn btn-default">{{ 'cart.checkout'|trans }}</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
