{% extends 'templates/app.twig' %}

{% block title %}{{ 'order.show.order.summary'|trans }} | {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h3>{{  'order.show.order'|trans  }} #{{ order.id }}</h3>
			<hr>

			<div class="row">
				<div class="col-md-6">
					<h4>{{ 'order.show.shipping.to'|trans }}</h4>
					<p>{{ order.address.address1 }}</p>
					<p>{{ order.address.address2 }}</p>
					<p>{{ order.address.city }}</p>
					<p>{{ order.address.postal_code }}</p>
				</div>
				<div class="col-md-6">
					<h4>{{ 'order.items'|trans }}</h4>
					{% for product in order.products %}
						<p>
							<a href="{{ path_for('product.get', {slug: product.slug}) }}">
								{{ product.title }}
							</a>
							(x{{ product.pivot.quantity }})
						</p>
					{% endfor %}
				</div>
			</div>

			<hr>

			<p>
				{{ 'cart.sum.shipping'|trans }}: {% if settings.currency.position-left %}{{ settings.currency.symbol }} {% endif %}{{ settings.shipping | number_format(2) }} {% if not settings.currency.position%} {{ settings.currency.symbol }} {% endif %} <br>
				<strong>{{ 'cart.sum.total'|trans }}:</strong> {% if settings.currency.position-left %}{{ settings.currency.symbol }} {% endif %}{{ (order.total + settings.shipping) | number_format(2) }} {% if not settings.currency.position%} {{ settings.currency.symbol }} {% endif %}
			</p>
		</div>
	</div>
{% endblock %}
