<table class="table">
	<tr>
		<td>{{ 'cart.sum.sub.total'|trans }}</td>
		<td>{% if settings.currency.position-left %}{{ settings.currency.symbol }} {% endif %}{{ basket.subTotal | number_format(2) }} {% if not settings.currency.position%} {{ settings.currency.symbol }} {% endif %}</td>
	<tr>
		<td>{{ 'cart.sum.shipping'|trans }}</td>
        <td>{% if settings.currency.position-left %}{{ settings.currency.symbol }} {% endif %}{{ settings.shipping | number_format(2) }} {% if not settings.currency.position%} {{ settings.currency.symbol }} {% endif %}</td>
	</tr>
	<tr>
		<td class="success">{{ 'cart.sum.total'|trans }}</td>
        <td class="success">{% if settings.currency.position-left %}{{ settings.currency.symbol }} {% endif %}{{ (basket.subTotal + settings.shipping) | number_format(2) }} {% if not settings.currency.position%} {{ settings.currency.symbol }} {% endif %}</td>
	</tr>
</table>
